.navbar{
    height: 40px;
    background-color: navy;
}
.nav,.list-unstyled{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav li{
    display: inline;
}
.nav a {
    padding: 5px 10px;
    color: white;
    line-height: 40px;
    text-decoration: none;
}
.nav a:hover {
    color: rgb( 255, 255, 255 );
    background-color: darkgray;
}
.container{
    width:80%;
    margin:auto;
}
.img-fluid{
    width:100%;
}

.card {
    padding: 20px;
    border: 1px solid darkgray;
    border-radius: 4px;
}

.text-center {
    text-align: center !important; /* set this property to this value at any cost */
}
.my-3 {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col{
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: stretch;
}
@media all and (min-width:680px){
    .col{
    flex-basis:47.5%;
    }
}
@media all and (min-width:900px){
    .col{
    flex-basis:30%;
    }
}


.message{
    border-width: 1px;
    border-style: solid;
    padding: 1em 2em;
    border-radius: 4px;
}
.message-info{
    border-color: navy;
    background-color: lightblue;
}
.message-error{
    border-color: crimson;
    background-color: lightpink;
}

